@model List<FootballBlogApi.Dtos.Post.PostDto>

@{
    ViewData["Title"] = "Breaking news";
    ViewData["Desc"] = "Liverpool Fan Zone";
    ViewData["Since"] = DateTime.Now.ToString("dd MMMM, yyyy - hh:mm tt");
}

<div class="blog">
    <div class="container-fluid">
        <div class="blog-heading">
            <div class="logo">
                <img src="https://rbleipzig.com/_next/image?url=https%3A%2F%2Fimg.rbleipzig.com%2Fq_100%2Cf_auto%2Flive%2FLiverpool_FC-1729507168902.png&w=256&q=100"
                    alt="logo">
            </div>
            <div class="heading">
                <div class="since">@ViewData["Since"]</div>
                <h1 class="title">@ViewData["Title"]</h1>
                <div class="desc">@ViewData["Desc"]</div>
            </div>
            <div class="info">

            </div>
        </div>

        @if (Model != null && Model.Any())
        {
            <div class="blog-list">
                <div class="blog-list-main">
                    @foreach (var post in Model.Take(2))
                    {
                        <div class="blog-item">
                            <a href="@Url.Action("Detail", "Home", new { id = post.Id })" class="card">
                                <div class="img-top-card">
                                    <img src="@post.Thumbnail" alt="@post.Title">
                                </div>
                                <div class="card-body">
                                    <div class="info">@post.CategoryName | @post.PublishedDate.ToString("dd MMMM, yyyy")</div>
                                    <h2 class="title">@post.Title</h2>
                                </div>
                            </a>
                        </div>
                    }
                </div>

                <div class="blog-list-sub">
                    @foreach (var post in Model.Skip(2))
                    {
                        <div class="blog-item">
                            <a href="@Url.Action("Detail", "Home", new { id = post.Id })" class="card">
                                <div class="img-top-card">
                                    <img src="@post.Thumbnail" alt="@post.Title">
                                </div>
                                <div class="card-body">
                                    <div class="info">@post.CategoryName | @post.PublishedDate.ToString("dd MMMM, yyyy")</div>
                                    <h2 class="title">@post.Title</h2>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="text-center">Bài viết không tồn tại!</div>
        }

    </div>
</div>
